.table-view {
   -fx-base: #1e1e1e;
   -fx-control-inner-background: #1e1e1e;
   -fx-background-color: #1e1e1e;
   -fx-table-cell-border-color: transparent;
   -fx-table-header-border-color: transparent;
   -fx-padding: 5;
}

.table-view .column-header-background {
   -fx-background-color: #2c2c2c;
   -fx-background-radius: 5 5 0 0;
}

.table-view .column-header {
   -fx-background-color: transparent;
   -fx-size: 40px;
}

.table-view .column-header .label {
   -fx-text-fill: #bdc3c7;
   -fx-font-weight: bold;
}

.table-row-cell {
   -fx-background-color: #1e1e1e;
   -fx-border-width: 0 0 1 0;
   -fx-border-color: #2a2a2a;
}

.table-row-cell:odd {
   -fx-background-color: #252525;
}

.table-row-cell:hover {
   -fx-background-color: #333333;
}

.table-row-cell:selected {
   -fx-background-color: #2980b9;
   -fx-background-insets: 0;
   -fx-background-radius: 0;
}

.table-cell {
   -fx-text-fill: #ecf0f1;
   -fx-alignment: center;
   -fx-font-size: 14px;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
   -fx-background-color: transparent;
}

.scroll-bar:vertical .track, .scroll-bar:horizontal .track {
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
   -fx-background-color: #555;
   -fx-background-radius: 5em;
}

.table-view .placeholder .label {
   -fx-text-fill: #7f8c8d;
}
